<script setup lang="ts">
import { ref } from "vue";
import ToDoItem from "./ToDoItem.vue";
const groceries = ref([
  { id: 0, text: "Vegetable" },
  { id: 1, text: "Cheese" },
  { id: 2, text: "Whatever else humans are supposed to eat" },
]);
</script>

<template>
  <ul>
    <ToDoItem v-for="item of groceries" :key="item.id" :todo="item" />
  </ul>
</template>

<style></style>
